*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#color-palette {
  display: flex;
  width: 100%;
  height: 50px;
  gap: 8px;
}

.color {
  flex-basis: 50px;
  border: 1px solid black;
}

#button-random-color {
  flex-basis: 200px;
}
